body{
  //background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);️
  background-image: linear-gradient(to top, #a3bded 0%, #6991c7 100%);
  background-repeat: no-repeat;
  height: 100%;
  //background-image: linear-gradient(to right, #d7d2cc 0%, #304352 100%);
  //background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  //background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  //background-image: linear-gradient(to right, #434343 0%, black 100%);
//  background-image: linear-gradient(to top, #dbdcd7 0%, #dddcd7 24%, #e2c9cc 30%, #e7627d 46%, #b8235a 59%, #801357 71%, #3d1635 84%, #1c1a27 100%); pomodoro timer
}